@model IEnumerable<ProductAPI.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuTaxGrpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sku)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taxable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuTaxGrpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateUser)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GuProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GuProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GuProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
